@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --background-image : url('/Volumes/MKSSD/AInterview_Frontend/frontend/src/assets/background5.jpg')
}

body{
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
} */